body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #dadada;
}

h1 {
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 7px;
}

p {
    padding: 0;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

input, select {
    width: 100%;
    padding: 5px;
}

label {
    width: 100%;
}

button {
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    background:#505050;
    color: #ffffff;
}

.page-container {
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.split-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    gap: 50px;
}

.my-api-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10px;
    flex: 1;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    height: 250px;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

